In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.cross_validation import train_test_split

In [4]:
from sklearn.datasets import load_boston
boston=load_boston()

In [5]:
df_x=pd.DataFrame(boston.data,columns=boston.feature_names)
df_y=pd.DataFrame(boston.target)

In [8]:
re=linear_model.LinearRegression()

In [9]:
x_train,x_test,y_train,y_test=train_test_split(df_x,df_y,test_size=0.2,random_state=4)

In [12]:
re.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
re.coef_

array([[-1.14743504e-01,  4.70875035e-02,  8.70282354e-03,
         3.23818824e+00, -1.67240567e+01,  3.87662996e+00,
        -1.08218769e-02, -1.54144627e+00,  2.92604151e-01,
        -1.33989537e-02, -9.07306805e-01,  8.91271054e-03,
        -4.58747039e-01]])

In [14]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [31]:
a=re.predict(x_test)

In [32]:
a.shape

(102, 1)

In [33]:

y_test.shape

(102, 1)

In [34]:
a=pd.DataFrame(a)
y_test=pd.DataFrame(y_test)

In [39]:
asd

             0     0
0    12.065089   NaN
1    26.985448   NaN
2    17.592426   NaN
3    18.158422   NaN
4    36.916570   NaN
5    25.435733   NaN
6    31.086103  22.9
7    19.719811   NaN
8    19.637073  16.5
9    22.958058   NaN
10   28.385666   NaN
11   28.492003  18.9
12   19.002605   NaN
13   32.425786   NaN
14   21.524093  18.2
15   15.208502   NaN
16   21.237635   NaN
17   11.600931   NaN
18   11.380188  20.2
19   13.625275   NaN
20    5.658319   NaN
21   17.340952   NaN
22   20.813051   NaN
23   22.511812   NaN
24   16.393020   NaN
25   20.322792  13.9
26   17.894954   NaN
27   14.236859   NaN
28   21.086062   NaN
29   17.504327   NaN
..         ...   ...
336        NaN  19.5
341        NaN  32.7
344        NaN  31.2
345        NaN  17.5
348        NaN  24.5
361        NaN  19.9
368        NaN  50.0
369        NaN  50.0
377        NaN  13.3
390        NaN  15.1
399        NaN   6.3
402        NaN  12.1
409        NaN  27.5
413        NaN  16.3
415        NaN   7.2
418        NaN   8.8
420        NaN  16.7
427        NaN  10.9
428        NaN  11.0
432        NaN  16.1
437        NaN   8.7
454        NaN  14.9
462        NaN  19.5
470        NaN  19.9
476        NaN  16.7
485        NaN  21.2
486        NaN  19.1
492        NaN  20.1
497        NaN  18.3
505        NaN  11.9

[185 rows x 2 columns]